#header{
    background-color: #fca311;
    border-style: dashed;
}
#logo {
    max-height: auto;
    width: 150px;
    display: inline;
}

#titulo{
    position: relative;
    display: inline;
    padding-left: 20%;
    padding-right: 20%;
    bottom: 50px;
    
}

#nav > h2
{
    display: inline;
    padding-left: 20%;
    padding-right: 20%;
   
}

#compra {
    padding: 5%;
    border-style: groove;
    border-color: blue;
    border-radius: 25px;

}

table{
    padding-left: 15%;
    
}



th{
    font-size: xx-large;
}
td > img {
    max-height: auto;
    width: 300px;
}
    
}
button{
    margin-top: 10px;
    margin-left: 40%;
    margin-right: 40%;
    padding: 15px;
    background-color: salmon;
}
a{
    color: black;
}
